body {
    background-color: snow;
    width: 500px;
    min-width: 400px;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select:none;
}

#search-bar-submit-button {
    padding: 0;
    margin: 5px;
    border: 0;
    background-color: white;
    display: inline-flex;
    width: fit-content;
    transition: 1.5s;
}

#search-bar-submit-button:hover {
    cursor: pointer;
    size:-5px;
    transform: scale(1.15);
}

.form__group {
    position: relative;
    padding: 15px 0 0;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 80%;
    display: inline-flex;
}
.form__field {
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 2px solid #9b9b9b;
    outline: 0;
    font-size: 1rem;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
}
.form__field::placeholder {
    color: transparent;
}
.form__field:placeholder-shown ~ .form__label {
    font-size: 1rem;
    cursor: text;
    top: 20px;
}
.form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 0.7rem;
    color: #9b9b9b;
}
.form__field:focus {
    padding-bottom: 6px;
    font-weight: 700;
    border-width: 3px;
    border-image: linear-gradient(to right, #11998e, #38ef7d);
    border-image-slice: 1;
}
.form__field:focus ~ .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 0.7rem;
    color: #11998e;
    font-weight: 700;
}

.form__field:required, .form__field:invalid {
    box-shadow: none;
}

/*Загрузочное колесо*/
.lds-ring {
  display: inline-flex;
  width: 45px;
  height: 45px;
}
.lds-ring div {
  box-sizing: border-box;
  display: inline-flex;
  position: absolute;
  width: 45px;
  height: 45px;
  margin: 5px;
  border: 6px solid #38ef7d;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #38ef7d transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.search-bar-submit-button-contanier {
    display: inline-flex;
}

#search-bar-input {
  -webkit-user-select: all;
  -khtml-user-select: all;
  -moz-user-select: all;
  -ms-user-select: all;
  user-select: all;
}

.hidden-element {
    display: none;
}

.arrow {
  border: solid darkgray;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  margin: 6px;
}

.arrow:hover {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  margin: 6px;
  cursor: pointer;
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  position: relative;
  top: -4px;
}